.outbd{
    background:gray;
    border-radius: 50px;
    display: flex;
    width: 100px;
    box-shadow: 0px 0px 13px gray;
    margin: 3rem;
    /* padding-left: 15px; */
    cursor: pointer;
}
.outbd:hover{
    scale: 1.09;
    box-shadow: 0px 0px 13px rgb(20, 176, 74);
}
.inbd{
    background-image: linear-gradient(to right,rgb(208, 255, 0), rgb(176, 20, 113));
    padding: 10px;
    border-radius:50px;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
}
.no{
    margin: 9px;
}
.imgbt{
    width: 200px;
    /* height: 10px; */
    /* content:img; */
    /* box-shadow: 5px 5px yellow; */
    cursor: pointer;
    margin: 10px;
    animation-duration: 3000ms;
    animation-timing-function: ease-in-out;
}
.imgbt:hover{
scale: 1.09;
}